.list-group .list-group-separator {
  margin: 0;
}

.list-group .list-group-separator::before {
  width: 100%;
}

.list-group .list-group-item {
    padding: 10px 16px;
}

.form-group {
    margin: 0;
}

.list-group-item .badge {
  position: absolute;
  right: 16px;
}
